<div class="container" *ngIf="orderDetails">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Order ID: {{orderID}}</div>
        <div class="card-body text-sm-start">
          <ul class="list-group">
            <li class="list-group-item">Order ID : {{orderDetails.id}}</li>
            <li class="list-group-item">Date : {{orderDetails.billingDate|date:"dd/MM/yyyy"}}</li>
            <li class="list-group-item">Customer ID : {{orderDetails.customer.id}}</li>
            <li class="list-group-item">Customer Name : {{orderDetails.customer.name}}</li>
            <li class="list-group-item">Customer Email : {{orderDetails.customer.email}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Product items</div>
        <div class="card-body">
          <table class="table table-sm">
            <thead class="bg-dark text-white">
            <th>product id</th> <th>Product name</th> <th>Price</th> <th>Quantity</th>
            </thead>
            <tbody>
            <tr *ngFor="let pi of orderDetails.productItems">
              <td>{{pi.product.id}}</td>
              <td>{{pi.product.name}}</td>
              <td class="text-end">{{pi.product.price | number:'.2'}}</td>
              <td class="text-end">{{pi.product.quantity}}</td>
            </tr>
            <tr class="bg-dark text-white">
              <td colspan="3" class="text-end">Total</td>
              <td class="text-end">{{orderDetails.total | number:'.2'}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>
  </div>
